<div id="legend" class="hide">
    In the last column of every table
    Every titular player is indicated around
    30 minutes before game starts
    double click on top cell of every
    profile column makes whole column blue,
    click on player's cell makes it yellow
    thus might be indicated important player in or out.
    One click on second cell of every column
    gives additional important info.
    TF and RF are abbreviations for current Team Form
    and Rival Form,scale  1 to 5, 1 is best.They will be proposed,
    but I intend to make them editable, since user might add
    his own way of prediction.
</div>
<span custom-popover  popover-placement="bottom"></span>
<div class="container" >
    <div class="table-responsive col-md-6">
        <div shortgamemodel obj="homeProfileModel" />
    </div>
    <div class="table-responsive col-md-6">
        <div shortgamemodel obj="guestProfileModel" />
    </div>
</div>