<div id="legend" class="hide">
  Full archive of team games at the moment.
    Click on top cell where "!" is present shows pop-up with additional important information.<br/>
    Double click on second from the top cell of every<br/>
    profile column makes whole column blue and set "milestone"-game<br/>
    from which to start comparison,indicates missing players with yellow<br/>
    in their cells from this game to the current one.<br/>
    <br/>
    Every player's game cell contains info as follows:<br/>
    -minutes played-'t'-whole game or number,if number is red it is injury substitution,<br/>
    ^player as susbstitute, v-player enter as substitute and replaced.<br/>
    -red card-red backround- time and  result receiving<br/>
    -*S-all shots in a game for a player-*G(red)goals<br/>
    -*A-all assists in a game for a player-*A(red) goal assists<br/>
    -position for the match-it is shown only if it is different from default one-set in first column of the table.
    <br/>
    TF and RF are abbreviations for current Team Form
    and Rival Form,scale  1 to 5, 1 is best.They will be proposed,
    but I intend to make them editable, since user might add
    his own way of prediction.
</div>
<span custom-popover  popover-placement="bottom"></span>
<div class="container">
    <!--<span ng-show="viewLoading" us-spinner="{radius:30, width:8, length: 16}"></span>-->
    <div class="panel-body" ng-cloak>
        <div players obj="profileModel"/>
    </div>
    <div sha-loading="viewLoading">
        <!-- actual view content goes here. -->
    </div>
</div>